
<section>
    <h3 id="about">About Me:</h3>

    <div class="face-lockup">


        <div class="column _6"><div class="icon-pencil"><i class="fa fa-pencil" aria-hidden="true"></i></div></div>
        <div class="column _6"><div class="icon-mouse"><i class="fa fa-map-marker" aria-hidden="true"></i></div></div>
        <div class="column _3"><div class="face-img"><i class="fa fa-cubes" aria-hidden="true"></i></div></div>
        <div class="column _6"><div class="icon-browser"><i class="fa fa-bullhorn" aria-hidden="true"></i></div></div>
        <div class="column _6"><div class="icon-video"><i class="fa fa-camera-retro" aria-hidden="true"></i></div></div>

    </div>

    <div class="blurb">

        <p>
            I mostly wangle <strong>JavaScript,</strong> In my spare time I enjoy doing daily UI/UX challenges & code snippets
            in  CodePen &  GitHub.
            My goal is to develop long-term partnerships with my clients to ensure that we are both satisfied and successful, Always thrive to give best possible result to my client. <strong>Solving problems with clean, scalable and maintainable code.</strong>
        </p>
    </div>

    <div class="skill-lockup">

        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icon skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>

        </div>

        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icon skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icon skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icon skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UI Design</div>
            <div class="skill-icon  skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>


        <div class="skill-unit">
            <div class="skill-label">Visual Design</div>
            <div class="skill-icon skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-icon skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</section>
