<section class="section-clients">
    <h3 id="clients">Clients</h3>
    <div class="client-controls">
        <div class="next"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
        <div class="prev"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
    </div>

    <div class="clients-mobile-nav">
        <span class="active-client"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="clients-belt">

        <div class="client-unit active-client">
            <div class="client-face">
                <img src="assets/imgs/clients/face1.png" alt="face" />
                <strong class="client-name">Scott Elliot</strong>
                <em class="client-title">Tumblr inc.</em>
            </div>

            <div class="client-content">
                <div class="client-quote-mark"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                <p>
                    <strong>Redstone VR is the first Swedish virtual reality production studio.</strong> Using proprietary technology, we produce stereoscopic, high-resolution immersive experiences of world-class quality. The Room, our first VR experience, is available on Samsung Milk VR.
                </p>
            </div>

        </div>

        <div class="client-unit">
            <div class="client-face">
                <img src="assets/imgs/clients/face2.png" alt="face" />
                <strong class="client-name">Eric Ellivera</strong>
                <em class="client-title">GitHub</em>
            </div>

            <div class="client-content">
                <div class="client-quote-mark"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                <p>
                    <strong>Redstone VR is the first Swedish virtual reality production studio.</strong> Using proprietary technology, we produce stereoscopic, high-resolution immersive experiences of world-class quality. The Room, our first VR experience, is available on Samsung Milk VR.
                </p>
            </div>

        </div>

        <div class="client-unit">
            <div class="client-face">
                <img src="assets/imgs/clients/face3.png" alt="face" />
                <strong class="client-name">Elena Edgar</strong>
                <em class="client-title">Wordpress</em>
            </div>

            <div class="client-content">
                <div class="client-quote-mark"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                <p>
                    <strong>Redstone VR is the first Swedish virtual reality production studio.</strong> Using proprietary technology, we produce stereoscopic, high-resolution immersive experiences of world-class quality. The Room, our first VR experience, is available on Samsung Milk VR.
                </p>
            </div>

        </div>

        <div class="client-unit">
            <div class="client-face">
                <img src="assets/imgs/clients/face4.png" alt="face" />
                <strong class="client-name">Alexa Josh</strong>
                <em class="client-title">Steam</em>
            </div>

            <div class="client-content">
                <div class="client-quote-mark"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
                <p>
                    <strong>Redstone VR is the first Swedish virtual reality production studio.</strong> Using proprietary technology, we produce stereoscopic, high-resolution immersive experiences of world-class quality. The Room, our first VR experience, is available on Samsung Milk VR.
                </p>
            </div>

        </div>

    </div>

    <div class="clients-logos">
        <div class="client-logo active-client" style="background-image: url(/assets/imgs/clients/logo1.png)"></div>
        <div class="client-logo" style="background-image: url(/assets/imgs/clients/logo2.png)"></div>
        <div class="client-logo" style="background-image: url(/assets/imgs/clients/logo3.png); background-size: 80px;"></div>
        <div class="client-logo" style="background-image: url(/assets/imgs/clients/logo4.png); background-size: 60px;"></div>
    </div>
</section>
