<section class="alt-section section-contact">

    <h3 id="contact">Contact</h3>

    <div class="social-links">
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://github.com/ImSolitude"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <hr class="bar" />

    <a class="biglink"><h2 id="fitThis">muhammadcodez@gmail.com</h2></a>
</section>
