<section class="alt-section section-input">

    <h3 id="input">Let's Work Together!</h3>

    <form >
        <div class="info-group">


        <label> <span>Your name:</span>
            <input type="text" name="name"/></label>
            <label> <span>Your email:</span>
        <input type="email" name="email"/></label>


            </div>
        <label> <span>Your message:</span>
        <textarea name="message"></textarea></label>
        <div class="submit">


        <input type="submit" value="Send!"/>

                </div>
    </form>

</section>
