<section class="alt-section section-work">
    <h3 id="work">Work</h3>
<div class="work-belt">

    <div class="thumb-wrap">
        <div class="thumb-container">
            <a href="" class="thumb-unit _1">

                <div class="thumb-overlay">
                    <strong>Meteora PR</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>

            </a>

            <a href="" class="thumb-unit _2">

                <div class="thumb-overlay">
                    <strong>Redstone VR</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _3">

                <div class="thumb-overlay">
                    <strong>OZMO</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _4">

                <div class="thumb-overlay">
                    <strong>Prestige</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _5">

                <div class="thumb-overlay">
                    <strong>Heat Producer</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _6">

                <div class="thumb-overlay">
                    <strong>Planet : Destiny</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _7">

                <div class="thumb-overlay">
                    <strong>OnePocket</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>

            <a href="" class="thumb-unit _8">

                <div class="thumb-overlay">
                    <strong>Formerly Yes</strong>
                    <div class="zoom-icon">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
            <div style="clear:both"></div>
        </div>
    </div>
    <div class="work-wrap">
        <div class="work-container">
        <div class="work-return"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></div>
        <h4 class="project-title">Do work!</h4>

        <div class="project-load">
        </div>

    </div>
    </div>
</div>
</section>
